<div class="container">
  <h5>Document</h5>
  <p-blockUI [blocked]="blockedDocument"></p-blockUI>

  <button
    type="button"
    pButton
    pRipple
    label="Block"
    (click)="blockDocument()"
  ></button>

  <h5>Panel</h5>
  <button
    type="button"
    pButton
    pRipple
    label="Block"
    (click)="blockedPanel = true"
  ></button>
  <button
    type="button"
    pButton
    pRipple
    label="Unblock"
    (click)="blockedPanel = false"
  ></button>

  <p-blockUI [target]="pnl" [blocked]="blockedPanel">
    <i class="pi pi-lock" style="font-size: 3rem"></i>
  </p-blockUI>
  <p-panel #pnl header="Header" styleClass="mt-4">
    <p class="m-0">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
  </p-panel>
  <h2>Ejercicios de PrimeNg</h2>
  <hr />
  <button
    type="button"
    pButton
    pRipple
    class="p-button-warning"
    label="Ejercicio 1"
  ></button>
  <button
    type="button"
    pButton
    pRipple
    class="p-button-warning"
    label="Ejercicio 2"
  ></button>
  <button
    type="button"
    pButton
    pRipple
    class="p-button-warning"
    label="Ejercicio 3"
  ></button>
  <button
    type="button"
    pButton
    pRipple
    class="p-button-success"
    label="Ejercicio 1 con GRID"
  ></button>
  <button
    type="button"
    pButton
    pRipple
    class="p-button-success"
    label="Ejercicio 2 con GRID"
  ></button>
  <button
    type="button"
    pButton
    pRipple
    class="p-button-success"
    label="Ejercicio 3 con GRID"
  ></button>
  <button
    type="button"
    pButton
    pRipple
    class="p-button-info"
    label="Ejercicio 4"
  ></button>
</div>
