<div class="container">
  <h2>Ejercicios de PrimeNg</h2>
  <hr />
  <button type="button" color="warning" pButton label="Ejercicio 1"></button>
  <button type="button" pButton label="Ejercicio 2"></button>
  <button type="button" pButton label="Ejercicio 3"></button>
  <button type="button" pButton label="Ejercicio 1 con GRID"></button>
  <button type="button" pButton label="Ejercicio 2 con GRID"></button>
  <button type="button" pButton label="Ejercicio 3 con GRID"></button>
  <button type="button" pButton label="Ejercicio 4"></button>
</div>
